{{> menu active="about"}}

<!DOCTYPE html>
<html>

<head>

<br>
</head>
<section class="has-background-warning-light">
<section class="hero has-text-centered">
            <p class="title ">
                <br>
                PlaceMark Categorises Destinations </p>
            <p class="box has-background-grey-dark has-text-warning-light">
            PlaceMark is a Site for animal lovers everywhere along with those who like to go on adventures and see beautiful places.<br>
                Here are some sightings other members have made. We encourage you to sign up and start adding your adventures and sightings with us.
            </p>
</section>
<br>
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img ">
                                <img src="https://i.ytimg.com/vi/DRp-MHjjI2Q/hqdefault.jpg" alt="">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Category Name</h3>
                                    <h1 class="title post-title">Forest Animals <br>- Meet Pancake</h1>
                                    <p class="post-excerpt">This little guy was spotted in a Coffee Shop Pettit Pari in Paris getting his hands on some tourists biscuits.<br>
                                        He is a regular around these parts so if you're in the city you might catch a glimpse.The locals call him pancake because that is his favourite food to steal.
                                        <br>
                                        Pancake is a Japanese macaque, also known as the snow monkey, is a terrestrial Old World monkey species that is native to Japan. They are known as"snow monkeys" some live in areas where snow covers the ground for months each year. They have brownish grey fur, pinkish-red faces, and short tails. </p>
                                    <br>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://images.pexels.com/photos/47547/squirrel-animal-cute-rodents-47547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="title post-title">Woodland Creatures</h1>
                                <p class="post-excerpt">These little fellas can be spotted everywhere but some of us City folk haven't managed to see one there are so many In Shelton Abbey Forest in Co. Wicklow.
                                This forest boost untouched forest for miles. <br>This is a personal favourite of mine an undiscovered Jurassic park type feel full of unusual Woodland Creatures and for the bird watchers the Red Kite can be seen occasionally. </p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://i2-prod.mirror.co.uk/incoming/article7766981.ece/ALTERNATES/n615/PAY-Columbus.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="title post-title">Mountain Animals</h1>
                                <p class="post-excerpt">This Mountain Lion was spotted in Ontario Canada just chilling out on someone's Car I don't think Insurance would cover this one!!!!!<br>
                                    Fun Fact:<br>
                                    In the last 100 years, less than two dozen people have been killed by mountain lions in North America and Canada. To put this into perspective, around 20 people are killed every year by cows.</p>
                                <br>Males grow to lengths of 10 feet (3 meters) and have a 2 to 3 foot (60 to 91 centimeter) tail. They weigh from 330 to 550 pounds (150 to 250 kilograms). Slightly smaller, females grow to lengths of 9 feet (2.7 meters) and weigh between 265 and 395 pounds.
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://media.wired.com/photos/593261cab8eb31692072f129/master/pass/85120553.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="title post-title">Desert Animals</h1>
                                <p class="post-excerpt">This little guy was spotted by one of our members a long way from home in Lisbon, Portugal by the beach on there holiday. The fennec fox is one of the most well known of the desert foxes. They are mostly found in the central Sahara desert. Fennec foxes have large ears that are used to listen for prey underground as well as them being a defense mechanism to warn them of <br>predators in the area.</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://www.fodors.com/wp-content/uploads/2020/06/04_AnimalsOutOfPlace__EdmontonMallPenguins_4-Penguins-5.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="title post-title">Arctic Animals</h1>
                                <p class="post-excerpt">This couple were spotted at London Railway trying to catch a train with no ticket...<br>
                                   These are Humboldt penguins they originate from the shores of Peru and Chile. They are Named for a chilly water current that flows through their coastal range, these birds are excellent swimmers. Their torpedo-shaped bodies can shoot through the water at speeds of 30 miles an hour. I have categoried these as Arctic because The majority of penguins are Arctic decent</p>
                                <br>

                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/b3/69/26/iberotel-coraya-beach.jpg" width="320"
                                     height="900" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                    <h1 class="title post-title">Aquatic Animals</h1>
                                <p class="post-excerpt">This Giant Sea Turtle was discovered by a couple scuba Diving off the coast of the Aran Islands.<br><br>The leatherback sea turtle (Dermochelys coriacea), sometimes called the lute turtle or leathery turtle or simply the luth, is the largest of all living turtles and the heaviest non-crocodilian reptile, reaching lengths of up to 2 metres and weights of 600 kg</p>
                                <br>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>