{{> menu active="dashboard"}}

<section class="section">

    <p>Your Current Location :</p>
    <p>latitude  : <span id="latitude"></span>&deg;<br></p>
    <p>longitude : <span id="longitude"></span>&deg;<br></p>
    {{>geolocation}}
    {{> add-placemark}}
    {{> list-placemarks}}
</section>