{{> welcome-menu active="login"}}

<section class="section">
    <h1 class="title">Log in</h1>
    <img src="https://i.pinimg.com/originals/a3/67/48/a367485f9691dfb25db6cb6c39992dd2.jpg" width="800"
         height="900" />
    <form action="/authenticate" method="POST">
        <div class="field">
            <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
        </div>
        <div class="field">
            <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
        </div>
        <div class="field is-grouped">
            <button class="button is-link">Submit</button>
        </div>
    </form>
</section>