{{> welcome-menu active="login"}}

<section class="section has-background-grey-dark">
  <h5 class="title has-text-warning">Log in</h5>
  <article class="tile is-child notification has-background-warning has-text-white-bis">
    <form action="/authenticate" method="POST">
      <article class="tile is-child notification has-background-info-dark has-text-centered has-text-white-bis">
        <img src="https://c.tenor.com/l5sHkKnVRqkAAAAd/login-email.gif" width="300"
             height="900" />
      </article>
      <div class="field">
        <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
      </div>
      <div class="field">
        <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password"
                                                     name="password">
      </div>
      <div class="field is-grouped">
        <button class="button is-link has-background-info-dark">Submit</button>
      </div>
    </form>
  </article>
</section>