{{> welcome-menu}}

<section class="section">
    <p> Sign up or Log in... </p>
    <br><img src="https://cdn.picpng.com/location/location-map-pin-pinpoint-point-99496.png" width="500"
             height="900" />
    {{>geolocation}}
    <br>
    <p>Your Current latitude is: <span id="latitude"></span>&deg;<br></p>
    <p>Your Current longitude is: <span id="longitude"></span>&deg;<br></p>
    <br>
    <h2>Sign Up and Log in to let us know what Places we should PlaceMark. This site is for Animal lovers everywhere who would love to try catch a glimpse <br>of Animals they have always wanted to see in places potentially near to them.</h2>
    <p>Here are a few some members have caught on camera.</p>
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9XnOjnrGURsgRa1kSmFuxvyR8ZkFgkRYLRQ&usqp=CAU" width="450"
             height="900" />
    <img src="https://en.bcdn.biz/images/emails_source/d64e1901-9261-472b-b130-d7aa11381bde.jpg" width="380"
             height="900" />
    <img src="https://i.insider.com/578cdd8688e4a725238b8896?width=750&format=jpeg&auto=webp" width="340"
         height="900" />
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJLtDIM7i5HY2rLJWHi7XTp_P1bdmfvEoS_g&usqp=CAU" width="370"
             height="700" />
    <img src="https://cdn.shopify.com/s/files/1/0006/0420/9215/articles/endangered_animals_clothing_800_1024x.jpg?v=1585545660" width="420"
         height="900" />
    <img src="https://i.natgeofe.com/n/722fcf1a-e085-401d-9c7b-c42400493b94/snowy-owl_thumb_4x3.JPG" width="370"
         height="900" />
</section>