{{> menu}}

<section class="section has-background-success-dark">
    <div class="title">
        {{categories.title}}
    </div>
    {{> list-place}}
    {{> add-places}}
    <br>
    <div class="title has-text-centered has-text-white">
   Capability to pinpoint exact markers coming soon....
    </div>
    <div id="map"></div>
    {{>map}}
</section>