{{> menu}}

<section class="section has-background-success-dark">
    <div class="title">
        {{placemarks.title}}
    </div>
    {{> list-place}}
    {{> add-places}}
    <div id="map"></div>
    {{>map}}
</section>