{{> welcome-menu active="signup"}}

<section class="section">
    <h1 class="title">Sign up</h1>
    <img src="https://t4.ftcdn.net/jpg/03/23/30/91/360_F_323309190_FwaLnwQ0tfL6TZbtvrja2rWXeVp6okGu.jpg" width="1100"
         height="900" />

    <form action="/register" method="POST">
        <label class="label">Name</label>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <input class="input" type="text" placeholder="Enter first name" name="firstName">
                </div>
                <div class="field">
                    <input class="input" type="text" placeholder="Enter last name" name="lastName">
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
        </div>
        <div class="field">
            <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
        </div>
        <div class="field is-grouped">
            <button class="button is-link">Submit</button>
        </div>

    </form>
</section>