<form action="/dashboard/addPlaceMark" method="POST">
    <div class="field">
        <label class="label has-text-white">Place-Mark Species Category</label> <input class="input" type="text" placeholder="Enter PlaceMark Category" name="title">
    </div>
    <button class="button is-link has-background-warning has-text-black"> Add Species Category </button>
</form>
<br>


