<section class="has-background-success-dark">
  <form class="box has-background-warning" action="/placemark/{{category._id}}/addplacemark" method="POST">
    <label>Enter Place Details:</label>
    <label><span style="padding-left:10px;"></span>Enter Destination:</label>
    <label><span style="padding-left:10px;"></span>Enter Species Details:</label>
    <label><span style="padding-left:10px;"></span>Enter Latitude:</label>
    <label><span style="padding-left:10px;"></span>Enter Longitude:</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" placeholder="Enter PlaceMark" name="name">
          </label>
        </div>
        <div class="field">
          <label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" placeholder="Enter Destination"
                   name="location">
          </label>
        </div>
        <div class="field">
          <label>
            <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" placeholder="Species Spotted" name="info">
          </label>
        </div>
        <div class="field">
          <label>
            <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000"
                   placeholder="0.000" name="lat">
          </label>
        </div>
        <div class="field">
          <label>
            <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000"
                   placeholder="0.000" name="lng">
          </label>
        </div>
        <br>
        <button class="button is-info">Add PlaceMark of Interest</button>
      </div>
      <span style="padding-left:60px;"></span>
      <div class="field" style="display: none">
        <label for="placeMark">Current Privacy</label>
        <select name="visible" id="placeMark">
          <option value="false">Not Shared</option>
        </select>
        <div class="field is-grouped">
        </div>
    </div>
    </div>
  </form>
</section>