<section class="has-background-success-dark">
<form class="box has-background-warning" action="/placemark/{{category._id}}/addplacemark" method="POST">
    <label>Enter Place Details:</label>
    <label><span style="padding-left:65px;"></span>Enter Destination:</label>
    <label><span style="padding-left:65px;"></span>Enter Species Details:</label>
    <label><span style="padding-left:45px;"></span>Enter Latitude:</label>
    <label><span style="padding-left:92px;"></span>Enter Longitude:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label>
                    <input class="input" type="text" placeholder="Enter PlaceMark" name="name">
                </label>
            </div>
            <div class="field">
                <label>
                    <input class="input" type="text" placeholder="Enter Destination" name="location">
                </label>
            </div>
            <div class="field">
                <label>
                    <input class="input" type="text" placeholder="Species Spotted" name="info">
                </label>
            </div>

        <div class="field">
            <label>
                <input class="input" type="text" placeholder="0.000" name="lat">
            </label>
        </div>
        <div class="field">
            <label>
                <input class="input" type="text"  placeholder="0.000" name="lng">
            </label>
        </div>
    <button class="button is-info">Add PlaceMark of Interest</button>
    </div>
    </div>
</form>
</section>