<form action="/dashboard/addCategory" method="POST">
  <div class="field">
    <label class="label has-text-white">Enter Place-Mark Category below </label> <input class="input" type="text"
                                                                                        placeholder="Enter PlaceMark Category" name="title">
  </div>
  <button class="button is-link has-background-warning has-text-black"> Add PlaceMark Category</button>
</form>
<br>


