{{#if errors}}
    <div class="box content has-background-danger has-text-white">
        <p> There was a problem... </p>
        <ul>
            {{#each errors}}
                <li>{{message}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}