{{#each placemarks}}
    <div class="box box-link-hover-shadow">
        <img src="https://i.pinimg.com/originals/1f/02/bf/1f02bfbdde8a681ab0c62fff506ad165.gif"width="245"
             height="200"/>
        <img src="https://cdn.dribbble.com/users/1842516/screenshots/4149977/lion.gif"width="220"
             height="100"/>
        <img src="https://i.pinimg.com/originals/ab/a4/0b/aba40b329fda0eee94536c859506e254.gif"width="269"
             height="200"/>
        <img src="https://payload.cargocollective.com/1/12/402732/14272263/image_processing20210318-3154-hwi02i.gif"width="220"
             height="200"/>
        <img src="https://i.pinimg.com/originals/ec/18/9b/ec189bcd98392d32081f474d3f334b51.jpg"width="220"
             height="200"/>
        <h2 class="title">
            {{title}}
        </h2>
        <a href="/placemark/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
        </a>
        <a href="/dashboard/deleteplacemark/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
        </a>

    </div>
{{/each}}