<nav class="navbar has-background-grey-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <span style="padding-left:100px;">
        {{> place-mark}}
        </span>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button has-background-success-light" id="login" href="/login"> Log in </a> <a class="button has-background-warning-light" id="signup" href="/signup"> Sign
                    up </a>
                    <span style="padding-left:65px;"></span>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.getElementById("{{active}}").classList.add("is-primary");
</script>